---
layout: default
title: Home
---
<div class="filter-bar">
    <a href="{{ site.baseurl }}/" class="tag-button active">All Recipes</a>
    {% for tag in site.tags %}
        <a href="{{ site.baseurl }}/tags.html#{{ tag[0] | slugify }}" class="tag-button">{{ tag[0] }}</a>
    {% endfor %}
</div>

<ul class="recipe-grid">
    {% for post in site.posts %}
        <li class="recipe-card">
            <a href="{{ site.baseurl }}{{ post.url }}">
                {% if post.image %}
                    <img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}">
                {% endif %}
                <div class="recipe-card-content">
                    <h3 class="recipe-card-title">{{ post.title }}</h3>
                    <p class="recipe-card-excerpt">{{ post.excerpt | strip_html | truncatewords: 20 }}</p>
                </div>
            </a>
        </li>
    {% endfor %}
</ul>