<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<body>
	<header class="site-header">
		<a href="{{ site.baseurl }}/" class="site-branding">
			<img src="{{ site.baseurl }}/assets/images/logo_nicole.png" alt="Nikol's Kitchen Logo" class="site-logo">
			<h1 class="site-title">{{ site.title }}</h1>
		</a>
		<p class="site-description">{{ site.description }}</p>
	</header>

    <main class="container">
        {{ content }}
    </main>

</body>
</html>